<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card>Simple card</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-tab-group>
      <mat-tab label="First"> Content 1 </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">4</mat-grid-tile>
</mat-grid-list>
